@media (max-width: 500px) {

    #chapter2 {
        padding: 5vw;
    }

    #wrapperChap2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 244, 203, 0.867);
        padding: 3vw;
        padding-bottom: 10vw;
        border-radius: 10vw;
    }

    #wrapperChap2 p {
        text-align: left;
        line-height: 1.8;
        font-size: 5.5vw;
        font-family: "Athelas-Regular";
        width: 80vw;
    }

    #lastP {
        padding-bottom: 3vw;
    }

    #del2P {
        font-family: "TrajanPro-Regular";
        font-size: 7vw;
    }

    #wrapperChap2 h4 {
        font-size: 8vw;
        font-family: "TrajanPro-Regular";

    }

    #picOneChap2 {
        margin-top: 6vw;
    }

    #CamJon {
        display: flex;
        gap: 2vw;
    }

    #CamJon img {
        height: 60vw;
        width: 40vw;
        border-radius: 10vw;
    }

    #message2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 100vw;
        object-fit: fill;
        border-radius: 0;
        border-radius: 10vw;
        background-color: rgba(17, 45, 63, 0.847);
        margin-bottom: 15vw;
        margin-top: 15vw;
    }

    #message2 h3 {
        text-align: center;
        color: rgb(255, 245, 215);
        padding: 2vw;
        font-weight: lighter;
        line-height: 1.5;
        margin: 0;
        font-family: "Athelas-Regular";
        font-size: 5vw;
    }

    #message2 h4 {
        text-align: center;
        color: rgb(255, 245, 215);
        padding: 2vw;
        line-height: 1.5;
        margin: 0;
        font-size: 5vw;
        font-family: "TrajanPro-Regular";
    }

    #message2 img {
        width: 25vw;
        height: 25vw;
        border-radius: 0;
    }

    #kar h4 {
        margin: 0;
        text-align: center;
        font-size: 5vw;
        font-family: "TrajanPro-Regular";
        margin-bottom: 5vw;
    }

}