@font-face {
    font-family: 'Athelas-Regular';
    src: url('../fonts/Athelas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrajanPro-Regular';
    src: url('../fonts/TrajanPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 500px) {

    body {
        padding: 0;
        margin: 0;
        background-color: rgb(255, 239, 179);
    }

    /* DEFAULT IMG och SQUARE IMG class. */
    img {
        margin-top: 5vw;
        margin-bottom: 7vw;
        height: 80vw;
        width: 48vw;
        border-radius: 50vw;
        object-fit: cover;
    }

    .squareIMG {
        height: 75vw;
        width: 80vw;
        border-radius: 15vw;
        object-fit: cover;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }



    /*CSS FÖR INPUTFIELD FOR VAL 2, OTROHET*/

    #inputContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #inputDiv {
        margin-top: 4vw;
    }

    #submitButton {
        background-color: rgb(26 62 26);
        width: 45vw;
        height: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50px;
        box-shadow: rgb(13, 31, 13) 4px 4px 5px;
        position: relative;
        top: 0.6vw;
    }

    #submitButton:focus {
        background-color: rgb(12, 35, 12);
        box-shadow: none;
    }

    #codeInput {
        height: 8vw;
        width: 76vw;
        margin-bottom: 5vw;
        border: none;
        background-color: rgba(26, 62, 26, 0.406);
        color: rgb(255, 226, 234);
        padding: 2vw;
        font-size: 17px;
    }

    #inputDiv img {
        margin-top: 15vw;
        height: 25vw;
        width: 25vw;
        border-radius: 0;
    }

    img#rebus {
        width: 80vw;
        border-radius: 0;
        object-fit: fill;
        height: 22vw;
    }

    #inputDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 5vw 0 5vw;
    }

    #inputDiv p {
        color: rgb(145, 68, 91);
    }


    #wrapperOtro h4 {
        font-size: 8vw;
        font-family: "TrajanPro-Regular";
    }

    #wrapperOtro {
        padding: 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(253 243 205);
        background-image: url(../bilder/yellow.webp);
        background-repeat: repeat;
        padding-bottom: 10vw;
    }

    #wrapperOtro p {
        font-size: 5.5vw;
        line-height: 1.8;
        font-family: "Athelas-Regular";
        text-align: left;
        width: 80vw;
    }

    p#delpElement {
        font-family: "TrajanPro-Regular";
        font-size: 7vw;
        text-align: center;
    }

    #submitButton h5 {
        color: rgb(255, 210, 223);
        font-family: "TrajanPro-Regular";
        font-size: 5vw;
        position: relative;
        top: 0.7vw;
    }

    .message {
        width: 90vw;
        height: 38vw;
        object-fit: fill;
        border-radius: 0;
    }

    /*PopUP Fel Kod*/

    #felKodPopup {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 78vw;
        max-width: 500px;
        padding: 6vw;
        background-color: rgba(255, 170, 194, 0.866);
        color: rgb(0, 0, 0);
        font-family: "Athelas-Regular", serif;
        font-size: 6vw;
        text-align: center;
        border-radius: 20px;
        z-index: 9999;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease;
    }

    .hidden {
        display: none;
    }

    /*SLUT POPUP*/




    #message2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 70vw;
        object-fit: fill;
        border-radius: 0;
        border-radius: 10vw;
        background-color: rgba(26, 62, 26, 0.866);
        margin-bottom: 20vw;
        margin-top: 10vw;
    }

    #message2 p {
        text-align: center;
        color: beige;
    }

    #message2 img {
        width: 25vw;
        height: 25vw;
        border-radius: 0;
    }

}