@font-face {
    font-family: 'Athelas-Regular';
    src: url('../fonts/Athelas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrajanPro-Regular';
    src: url('../fonts/TrajanPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@media (max-width: 500px) {

    body {
        background-color: rgb(253 243 205);
        background-image: url('../bilder/yellow.webp');
        background-position: center;
        background-repeat: repeat;
        margin: 0;
        padding: 0;
    }

    /*default img shape and size*/

    img {
        margin-top: 5vw;
        margin-bottom: 7vw;
        height: 80vw;
        width: 48vw;
        border-radius: 50vw;
        object-fit: cover;
    }

    .squareIMG {
        height: 75vw;
        width: 80vw;
        border-radius: 15vw;
        object-fit: cover;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    #imgEnd {
        height: 65vw;
        width: 65vw;
        border-radius: 0;
        object-fit: fill;
    }

    #wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10vw;
        padding-bottom: 17vw;
        gap: 5vw;
    }

    #wrapper h4 {
        font-size: 8vw;
        font-family: "TrajanPro-Regular";
    }

    #delpElement {
        font-family: "TrajanPro-Regular";
        font-size: 7vw;
        text-align: center;
    }

    #wrapper p {
        font-family: 'Athelas-Regular';
        font-size: 5.5vw;
        line-height: 1.5;
        text-align: left;
        width: 80vw;
    }

    /*BUTTON FOR YELLOW AND GREEN*/

    .buttonYellow {
        background-color: rgb(234 200 129);
        width: 45vw;
        height: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50px;
        box-shadow: rgb(13, 31, 13) 5px 5px 6px;
    }

    .buttonYellow h6 {
        position: relative;
        top: 0.6vw;
        color: black;
        font-family: "TrajanPro-Regular";
        font-size: 5vw;
        margin: 3vw;
    }

    .buttonYellow:focus {
        background-color: rgb(230, 186, 90);
        box-shadow: none;
    }

    h2 {
        font-family: 'Athelas-Regular';
        color: rgb(26 62 26);
    }

    .buttonGreen {
        background-color: rgb(26 62 26);
        width: 50vw;
        height: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50px;
        box-shadow: rgb(13, 31, 13) 5px 5px 6px;
    }

    .buttonGreen h6 {
        position: relative;
        top: 0.6vw;
        color: rgb(234 200 129);
        font-family: "TrajanPro-Regular";
        font-size: 5vw;
    }

    .buttonGreen:focus {
        background-color: rgb(12, 35, 12);
        box-shadow: none;
    }

    #lastP {
        margin-bottom: 10vw;
    }

    #lastPR {
        color: rgb(145, 68, 91);
    }





    #val {
        display: flex;
        gap: 3vw;
    }

    #valBild {
        height: 30vw;
        width: 30vw;
        border-radius: 0;
    }

    .buttonGreenLil {
        background-color: rgb(26 62 26);
        width: 40vw;
        height: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50px;
        box-shadow: rgb(13, 31, 13) 5px 5px 6px;
    }

    .buttonGreenLil h6 {
        position: relative;
        top: 0.6vw;
        color: rgb(234 200 129);
        font-family: "TrajanPro-Regular";
        font-size: 4vw;
    }

    .buttonGreenLil:focus {
        background-color: rgb(12, 35, 12);
        box-shadow: none;
    }




}