@font-face {
    font-family: 'Athelas-Regular';
    src: url('../fonts/Athelas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrajanPro-Regular';
    src: url('../fonts/TrajanPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 500px) {

    body {
        background-color: rgb(26 62 26);
        background-image: url('../bilder/backgroundGreen25.png');
        background-position: center;
        background-repeat: repeat;
        margin: 0;
        padding: 0;
    }

    /* DEFAULT IMG och SQUARE IMG class. */
    img {
        margin-top: 5vw;
        margin-bottom: 5vw;
        height: 80vw;
        width: 48vw;
        border-radius: 50vw;
        object-fit: cover;
    }

    .squareIMG {
        height: 75vw;
        width: 80vw;
        border-radius: 15vw;
        object-fit: cover;
        margin-top: 6vw;
        margin-bottom: 6vw;
    }


    /*CSS FÖR INPUTFIELD FOR VAL 2, OTROHET*/

    #inputContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #inputDivTraff {
        margin-top: 4vw;
    }

    #submitButton {
        background-color: rgb(255, 239, 179);
        width: 45vw;
        height: 13vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50px;
        box-shadow: rgb(13, 31, 13) 4px 4px 5px;
        position: relative;
        top: 0.6vw;
    }

    #submitButton:focus {
        background-color: rgb(12, 35, 12);
        box-shadow: none;
    }

    #codeInput {
        height: 8vw;
        width: 76vw;
        margin-bottom: 5vw;
        border: none;
        background-color: rgba(255, 239, 179, 0.702);
        color: rgb(12, 35, 12);
        padding: 2vw;
        font-size: 17px;
    }

    #inputDivTraff img {
        height: 30vw;
        width: 30vw;
        border-radius: 0;
    }

    #inputDivTraff {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 5vw 5vw 5vw;
    }


    #wrapperTrafficking h4 {
        font-size: 8vw;
        font-family: "TrajanPro-Regular";
        color: rgb(255, 239, 179);
    }

    #wrapperTrafficking {
        padding: 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10vw;
    }

    #wrapperTrafficking p {
        font-size: 5.5vw;
        line-height: 1.8;
        font-family: "Athelas-Regular";
        text-align: left;
        color: rgb(255, 245, 209);
        width: 80vw;
    }

    p#delpElementTraff {
        font-family: "TrajanPro-Regular";
        font-size: 7vw;
        text-align: center;
    }

    #inputDivTraff p {
        color: rgb(255, 170, 194);
    }

    #submitButton h5 {
        color: rgb(26 62 26);
        font-family: "TrajanPro-Regular";
        font-size: 5vw;
        position: relative;
        top: 0.7vw;
    }

    /*PopUP Fel Kod*/

    #felKodPopup {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 78vw;
        max-width: 500px;
        padding: 6vw;
        background-color: rgba(255, 170, 194, 0.866);
        color: rgb(0, 0, 0);
        font-family: "Athelas-Regular", serif;
        font-size: 6vw;
        text-align: center;
        border-radius: 20px;
        z-index: 9999;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        transition: opacity 0.3s ease;
    }

    .hidden {
        display: none;
    }

    /*SLUT POPUP*/

    .message {
        width: 85vw;
        height: 30vw;
        object-fit: fill;
        border-radius: 0;
    }

    #instruktion {
        text-align: center;
        color: rgb(255, 170, 194);
        font-size: 4.5vw;
        line-height: 1.5;
        font-family: "Athelas-Regular";
        font-weight: lighter;
        background-color: rgba(23, 58, 23, 0.67);
        border-radius: 15vw;
        padding: 2vw;
        width: 78vw;
        margin-top: 8vw;
        margin-bottom: 8vw;
    }

    #instruktion img {
        height: 30vw;
        width: 30vw;
        border-radius: 0;

    }




}